.landingImg {
  display: inline-block;
  max-width: 100%;
  margin: 44px 55px;
  height: 383px;
}

.landingPageContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landingH1{
  line-height: 40px;
}

.landingH2{
  line-height: 33px;
}

.buttonGroup{
  margin-top: 33px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.landingBtnPrimary{
  margin-bottom: 24px;
}


.landingPText{
  margin-bottom: 9px; 
}