.sharedRecipesP {
  text-transform: none;
  font-size: 15px;
  font-family: Quicksand;
  margin-top: auto;
  margin-left: 3px;
  font-family: Quicksand-Bold;
}

.sharedRecipesH1 {
  font-size: 41px;
  margin-bottom: 52px;
}

.userIcon {
  font-size: 25px;
}

.sharedUser {
  display: flex;
  align-items: center;
}

.sharedRecipesContainer {
  padding-bottom: 100px;
  padding-top: 61px;
  position: absolute;
  top: 0px;
}

.SharedRecipeCard {
  border: none;
  background-color: #fbfceb;
  margin-bottom: 24px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: 1px solid rgba(143, 143, 143, 0.077);
  border-radius: 25px 25px 10px 10px;
}

.SharedRecipeCardName {
  margin-bottom: 0%;
}

.SharedRecipeCardPrepTime {
  font-family: Quicksand-Bold !important;
}

.clockIcon {
  font-size: 16px;
}

.editIcon {
  margin-right: 15px;
}

.SharedRecipeCardBody {
  padding: 10px 6px;
}
