.cardImg {
  border-radius: 25px 25px 0px 0px;
  height: 187px;
  object-fit: cover;
}

.recipeCard {
  width: 170px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  margin-top: 0px;
  margin-bottom: 18px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: 0px solid rgba(143, 143, 143, 0.077);
  border-radius: 25px 25px 10px 10px;
  background-color: #fcfcf6;
}

.recipeCardBody {
  padding: 10px 6px;
}

.recipeCardName {
  font-size: 15px;
  font-family: Quicksand-Bold;
  margin-bottom: 0px;
}

.recipeCardPrepTime {
  font-family: Quicksand-SemiBold;
  font-size: 13px;
  margin-bottom: 0px;
  color: #97be11;
}

.text {
  display: block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cardHrsAndMins {
  display: flex;
  align-items: center;
  color: #97be11;
}

.clockIcon {
  margin-right: 3px;
  font-size: 15px;
}

.cardHours {
  margin-right: 3px;
  margin-bottom: 0px;
}

.cardMin {
  margin-bottom: 0px;
}
