.cardImg {
  border-radius: 20px;
  height: 187px;
  object-fit: cover;
}

.recipeCard {
  width: 170px;
  background-color: #fbfceb;
  border: none;
}

.recipeCardName {
  font-size: 15px;
  font-family: Quicksand-Bold;
  margin-bottom: 0px;
}

.recipeCardPrepTime {
  font-family: Quicksand-SemiBold;
  font-size: 13px;
  margin-bottom: 0px;
  color: #97be11;
}

.text {
  display: block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cardHrsAndMins {
  display: flex;
  color: #97be11;
}

.clockIcon {
  margin-right: 3px;
  font-size: 15px;
}

.cardHours {
  margin-right: 3px;
}
