.RecipePageContainer {
  padding-bottom: 87px;
}

.headerIconsContainer {
  display: flex;
  justify-content: space-between;
  background-color: #dfe9ac;
  padding: 16px;
}

.recipePageHeaderIcon {
  font-size: 24px;
  color: #5fa21b;
}

.recipePageImage {
  height: 408px;
  width: 100%;
  object-fit: cover;
}

.recipeInfoContainer {
  background-color: white;
  border-radius: 44px 44px 0px 0px;
  top: 420px;
  position: absolute;
}
